<div class="container">
	
<div class="row">
	<div class="col-lg-6">
		<div class="box effect8">
			<h3 class="description">
				<strong> PILSPAW </strong> is celebrating over <strong>10 years</strong> in business serving the Pila's market. 
			</h3>
			<hr>
			<h4 class="description">
				From our humble roots as a roofing and sheet metal shop, we’ve grown into one of leading custom fabricators by providing our clients with a high level of service and unparalleled quality.
			</h4>
			
		</div>
	</div>
	<div class="col-lg-6">
		<div class="box effect8">
			<img ng-src="images/DSC_4127.jpg" alt="" style="width: 100%;">
		</div>
	</div>
</div>

<div class="row">
	<div class="col-lg-6">
		<div class="box effect8">
			<img ng-src="images/DSC_4227.jpg" alt="" style="width: 100%;">
		</div>
	</div>
	<div class="col-lg-6">
		<div class="box effect8">
			<h4 class="description">	
				Our extensive team of estimators, coordinators, and drafting specialists have experience working in situations of all kinds, from highly engineered applications to working with new product design. Let our qualified team work with your organization to provide the highest of quality and most cost effective solution.
			<br>
				Our specialized fabrication shop can provide complete cutting, forming, and welding services to meet your exact technical and manufacturing specifications. We can also coordinate value added services such as painting, galvanizing, and machine shop services as needed.
			<br>
				<strong>PILSPAW</strong> is a built to order specialist, focusing on unique jobs and industrial projects that require a diverse skill set throughout Pila.
			</h4>
		</div>
	</div>
</div>

<div class="col-lg-12">
			
	<div class="box effect8">
		<h4 class="description">
			<strong>Welding & Fabrication:</strong> Metal Fabricators and Welding has a diverse and agile shop capable of completing both large and small scale industrial projects. We complete top quality welding and fabrication projects for oil and gas, construction, utilities and other heavy industries.
		</h4>
			
		<h4 class="description">
			<strong>What We Do:</strong> We are a custom capable metal design and fabrication shop that offers a large variety of material processing services. With two locations hosting an impressive assortment of technology and tools, we can participate in almost any project. 
		</h4>

		<h4 class="description">
			<strong>Products:</strong> Along with custom fabrication, materials processing and welding, we’ve built a reputation as leading producers for tube shields, industrial trench and bulk handling equipment. Metal Fabricators and Welding will customize these products to the specific requirements of each customer.
		</h4>

	</div>
	
</div>
	
</div>