<div class="container">

    <userinfo user="seba"></userinfo>
    <userinfo user="adam"></userinfo>
  
  <div class="col-xs-12 label label-info">

    <h1>Find Us</h1>
    <h1>TO BE DONE</h1>
  
  </div>

  <div class="col-xs-12 label label-danger">
    
    <address>
      <h3><strong>PILSPAW</strong><br></h3>
      Jana Nowaka 98 street<br>
      64-920 Pila<br>
      POLAND<br>
      <abbr title="Phone">P:</abbr> (0048) 67-215-9999
    </address>
     
    <address>
      <strong>Full Name</strong><br>
      <a href="mailto:#">pilspaw@pilspaw.com</a>
    </address>

  </div>

  
</div>