<form class="viewType" name="register_form" ng-submit="submitForm( register_form.$valid )" novalidate> <!-- novalidate prevents HTML5 validation -->
<div class="container">
    <div class="row">
        <div class="col-sm-6 center-block" style="float: none;">

            <div class="panel panel-default">

                <div class="panel-heading">
                    <h3><class="panel-title"><strong>Sign Up</strong></h3>
                </div>

                <div class="panel-body">        

                    <div ng-if="errors.login" class="alert alert-danger">{{errors.login}}</div>

            <!-- USERNAME --> 

                    <div class="form form-group" ng-class="{ 'has-error' : register_form.username.$invalid && !register_form.username.$pristine , 'has-success' : register_form.username.$valid }">
                        <label>User name</label>
                        <input class="form-control" 
                                type="text" 
                                placeholder="Input Your username" 
                                name="username" 
                                ng-model="registerForm.username" 
                                ng-minlength=3
                                ng-maxlength=20
                                required />
                        <!-- <p ng-show="registerForm.username.$invalid && !registerForm.username.$pristine" class="help-block">Username is required</p> -->
                        <p ng-show="register_form.username.$error.minlength" class="help-block">Username is to short</p>
                        <p ng-show="register_form.username.$error.maxlength" class="help-block">Username is to long</p>
                        <span class="text-danger">{{errors.name}}</span>
                    </div> 

            <!-- EMAIL --> 

                    <div class="form form-group" ng-class="{ 'has-error' : register_form.email.$invalid && !register_form.email.$pristine , 'has-success' : register_form.email.$valid }">
                        <label>Email</label>
                        <input class="form-control" 
                                type="email" 
                                placeholder="Your e-mail"
                                name="email"
                                ng-model="registerForm.email" 
                                required />
                        <p ng-show="registerForm.email.$invalid && !registerForm.email.$pristine" class="help-block">Enter a valid email</p>
                        <span class="text-danger">{{errors.email}}</span>
                    </div>                    

            <!-- PASSWORD --> 

                    <div class="form form-group" ng-class="{ 'has-error' : register_form.password.$invalid && !register_form.password.$pristine , 'has-success' : register_form.password.$valid }">
                        <label>Password</label>
                        <input  type="password"
                                name="password" 
                                class="form-control" 
                                ng-model="registerForm.password" 
                                ng-minlength=4
                                placeholder="Type password"
                                required />
                        <p ng-show="register_form.password.$error.minlength" class="help-block">Password is to short</p>
                        <span class="text-danger">{{errors.password}}</span>
                    </div>                    

            <!-- PASSCONF --> 
                    
                    <div class="form form-group" ng-class="{ 'has-error' : register_form.passconf.$invalid && !register_form.passconf.$pristine , 'has-success' : register_form.passconf.$valid }">
                        <label>Re-type password</label>
                        <input  type="password" 
                                name="passconf" 
                                class="form-control" 
                                ng-model="registerForm.passconf" 
                                ng-minlength=4
                                placeholder="Re-type password"
                                compare-to="registerForm.password" 
                                required />
                        <!-- <p ng-show="register_form.passconf.$error.minlength" class="help-block">Retyped password is to short</p> -->
                        <p ng-show="register_form.passconf.$error.compareTo" class="help-block">Must match the previous entry</p>
                        <span class="text-danger">{{errors.passconf}}</span>
                    </div>

            <!-- SUBMIT --> 
            
                    <br>

                    <button type="submit" class="btn btn-primary btn-block" ng-disabled="register_form.$invalid">Register</button>  <!-- ng-if="!success" -->
                    <button type="button" class="btn btn-success btn-block" ng-if="success" disabled>Registered succesfully</button>  

                    <div class="alert alert-success text-center" ng-if="success">You may <a href="#/login" class="alert-link">log in.</a></div>             

                </div>
            </div>


        </div>
    </div>
</div>