body {
  background-image: url(/images/bg.jpg);
}

/*.ng-invalid {
    border-color: red;
    outline-color: red;
}

.ng-valid {
    border-color: green;
    outline-color: green;
}
*/
.help-block {
    font-size: smaller;
    padding-top: 5px;
    padding-bottom: 5px;
    // color: red;
}

.center-block {
    float: none;
    margin-left: auto;
    margin-right: auto;
}

.marginText {
    text-align: center;
    margin: 10%;
}

#branded {
    font-size: 2rem; 
}

/*.box, .description {
   text-align:center;
   position:relative;
   top:10px;
   left:50px;
   bottom:10px;
}*/
.box {
  width:100%;
  height:100%;
  background:#FFF;
  margin:40px auto;
}

.effect8 {
    position:relative;       
    -webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
       -moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
            box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}

.effect8:before, .effect8:after {
  content:"";
    position:absolute; 
    z-index:-1;
    -webkit-box-shadow:0 0 20px rgba(0,0,0,0.8);
    -moz-box-shadow:0 0 20px rgba(0,0,0,0.8);
    box-shadow:0 0 20px rgba(0,0,0,0.8);
    top:10px;
    bottom:10px;
    left:0;
    right:0;
    -moz-border-radius:100px / 10px;
    border-radius:100px / 10px;
} 

.effect8:after {
  right:10px; 
    left:auto;
    -webkit-transform:skew(8deg) rotate(3deg); 
       -moz-transform:skew(8deg) rotate(3deg);     
        -ms-transform:skew(8deg) rotate(3deg);     
         -o-transform:skew(8deg) rotate(3deg); 
            transform:skew(8deg) rotate(3deg);
} 

.description { 
  line-height: 1.1em;
  color:#444;font-family: 'PT Sans Narrow', Calibri, 'Myriad Pro', Tahoma, Arial;
  padding: 60px 25px;
  width: 100%;
} 

// ############### d3 ######################

div.chart1 {
  background-color: steelblue;
  text-align: right;
  padding: 3px;
}

div.bar {
    display: inline-block;
    width: 20px;
    height: 75px;   /* Gets overriden by D3-assigned height in controller-site.js >> siteStock controller */
    background-color: teal;
    margin-right: 2px;
    color: white;
    font: 10px sans-serif;
}

// ########### PHOTO GALLERY ####################### 

header .logo {
    display: block;
    margin: 0 auto;
    width: 382px;
}
header .logo img {
    border: 0;
}

.arrow {
    cursor: pointer;
    display: block;
    height: 64px;
    margin-top: 20%;
    outline: medium none;
    position: absolute;
    top: 50%;
    width: 64px;
    z-index: 5;
}
.arrow.prev {
    background-image: url("../images/prev.png");
    left: 20px;
    opacity: 0.2;
    transition: all 0.2s linear 0s;
}
.arrow.next {
    background-image: url("../images/next.png");
    opacity: 0.2;
    right: 20px;
    transition: all 0.2s linear 0s;
}
.arrow.prev:hover{
    opacity:1;
}
.arrow.next:hover{
    opacity:1;
}

.navi {
    bottom: -4px;
    display: block;
    height: 48px;
    left: 0;
    margin: 0 auto;
    margin-top: 45%;
    padding: 1em 0 0.8em;
    // position: absolute;
    right: 0;
    text-align: center;
    width: 100%;
    z-index: 5;
}
.navi li {
    border: 3px solid #AAAAAA;
    border-radius: 5px;
    cursor: pointer;
    display: inline-block;
    height: 28px;
    margin: 0 8px;
    position: relative;
    width: 50px;
}
.navi li.active {
    border: 3px solid #000000;
}
.navi li img {
    width: 100%;
}

.slider {
    // border: 5px solid #F0F0F0;
    height: 600%;
    margin: 20px auto;
    position: relative;
    width: 800px;

    -webkit-perspective: 1000px;
    -moz-perspective: 1000px;
    -ms-perspective: 1000px;
    -o-perspective: 1000px;
    perspective: 1000px;

    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    -o-transform-style: preserve-3d;
    transform-style: preserve-3d;
}
.slide {
    position: absolute;
    border-radius: 20px;
    top: 0;
    left: 0;
    width: 100%;
}
.slide.ng-hide-add {
    opacity:1;

    -webkit-transition:1s linear all;
    -moz-transition:1s linear all;
    -o-transition:1s linear all;
    transition:1s linear all;

    // -webkit-transform: rotateX(50deg) rotateY(30deg);
    // -moz-transform: rotateX(50deg) rotateY(30deg);
    // -ms-transform: rotateX(50deg) rotateY(30deg);
    // -o-transform: rotateX(50deg) rotateY(30deg);
    // transform: rotateX(50deg) rotateY(30deg);

    // -webkit-transform-origin: right top 0;
    // -moz-transform-origin: right top 0;
    // -ms-transform-origin: right top 0;
    // -o-transform-origin: right top 0;
    // transform-origin: right top 0;
}
.slide.ng-hide-add.ng-hide-add-active {
    opacity:0;
}
.slide.ng-hide-remove {
    -webkit-transition:1s linear all;
    -moz-transition:1s linear all;
    -o-transition:1s linear all;
    transition:1s linear all;

    display:block!important;
    opacity:0;
}
.slide, .slide.ng-hide-remove.ng-hide-remove-active {
    opacity:1;
}

@media (max-width: 900px) {
    .logo img {
        width: 60%;
    }
    .slider {
        height: 312px;
        width: 500px;
    }
    .slider .slide {
        width: 100%;
    }
}
@media (max-width: 550px) {
    .logo img {
        width: 60%;
    }
    .slider {
        height: 188px;
        width: 300px;
    }
    .slider .slide {
        width: 100%;
    }
    .navi {
        height: 28px;
    }
    .navi li {
        border: 3px solid #AAAAAA;
        border-radius: 3px;
        height: 15px;
        width: 25px;
    }
}


